
.App {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  margin: 0;
  min-height: 100%;
}

.App-body {
  width: 100%;
  margin-bottom: -100px;
}

/* :root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.AppContent {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.AppContent:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  visibility: hidden;
} */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
