footer {
  font-family: "Roboto", sans-serif;
  position: relative;
  text-align: center;
  bottom: 0;
  height: 100px;
  width: 100%;
  margin-top: -275px;
  }
  
footer .copyright::before {
  content: '';
  display: inherit;
  width: 30%;
  margin: 10px auto;
  border-top: 1px solid #202020;
}

footer .copyright a {
  color: #eeeeee;
  position: relative;
  padding: 3px 0;
  }

footer .copyright span {
  color: #eeeeee;
}

.media li {
  position: relative;
  list-style: none;
}

.media li a {
  height: 50px;
}

footer .media-container { 
  height: 50px;
  display: inline-block;
  width: auto;
  padding: 0;
  text-align: center;
}

footer .media-container .media {
  width: auto;
}

footer .media-container a {
    height: 50px;
    display: inline-block;
}

footer .media-container a .fa-leaf {
  color: white;
  font-size: 1.2em;
}
footer .media-container a .fa-leaf:hover {
    color: #a17223;
}