#contact {
    height: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.contacticon {
    width: 100%;
    margin: 0 auto;
}

.contacticon i { 
    position: absolute;
    padding: 2%;
    height: 50px;
    font-size: 1.5em;
    top: 50px;
    left: 0;
    right: 50%;
    color: black;
    transform: scale(1.5);
}

#scrollbutton > i:hover {
    color: #a17223;
}

.form-group {
    opacity: 0.8;
}