#contact {
    z-index: 1;
    height: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.contacticon {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.contacticon .fa-address-book-o { 
    position: relative;
    padding: 2%;
    font-size: 1.5em;
    top: 50px;
    right: 50%;
    color: black;
    transform: scale(1.5);
}

.form-group {
    opacity: 0.8;
}